<div class="page">
  <div class="content-padding">
    <h2>
      <strong>
        3. Classificação do campeonato até a rodada atual - Rodada <%= round - 1
        %>
      </strong>
    </h2>

    <p>
      A tabela a seguir mostra a classificação do campeonato até a rodada <%=
      round - 1 %>, seguido dos confrons e resultados de cada uma das rodadas.
    </p>

    <p>
      Times em posições acima na tabela tendem a vencer confrontos de times da
      parte inferior, já que a classificação demonstra um histórico do time na
      competição, refletindo a regularidade de um time no campeonato.
    </p>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Time</th>
          <th>P</th>
          <th>J</th>
          <th>V</th>
          <th>E</th>
          <th>D</th>
          <th>GP</th>
          <th>GC</th>
          <th>SG</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <% standing.forEach(team => { %>
        <tr>
          <td><%= team.rank %></td>
          <td><%= team.name %></td>
          <td><%= team.points %></td>
          <td><%= team.played %></td>
          <td><%= team.wins %></td>
          <td><%= team.draws %></td>
          <td><%= team.looses %></td>
          <td><%= team.goalsFor %></td>
          <td><%= team.goalsAgainst %></td>
          <td><%= team.goalDifference %></td>
          <td><%= team.efficiency %></td>
        </tr>
        <% }) %>
      </tbody>

      <caption>
        Legenda:
        <strong>#</strong>
        - Posição do time,
        <strong>P</strong>
        - Pontuação,
        <strong>J</strong>
        - Jogos,
        <strong>V</strong>
        - Vitorias,
        <strong>E</strong>
        - Empates,
        <strong>D</strong>
        - Derrotas,
        <strong>GP</strong>
        - Gols pro,
        <strong>GC</strong>
        - Gols contra,
        <strong>SG</strong>
        - Saldo de gols,
        <strong>%</strong>
        - Porcentagem de aproveitamento de pontos
      </caption>
    </table>
  </div>
</div>

<% previousRounds.forEach(group => { %>
<div class="page">
  <div class="content-padding">
    <% group.forEach(round => { %>
    <h4>Confrontos da rodada #<%= round.round %></h4>

    <table>
      <thead>
        <tr>
          <th>Mandante</th>
          <th>Visitante</th>
          <th>Placar</th>
          <th>Vencedor</th>
        </tr>
      </thead>
      <tbody>
        <% round.matches.forEach(match => { %>
        <tr>
          <td><%= match.home.name %></td>
          <td><%= match.away.name %></td>
          <td><%= match.score.home %> x <%= match.score.away %></td>
          <td><%= match.winner %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% }) %>
  </div>
</div>
<% }) %>
