<div class="page">
  <div class="content-padding">
    <h2>
      <strong>
        4. Estatísticais gerais dos últimos confrontos - <%= team.name %>
      </strong>
    </h2>

    <% matches.forEach(match => { %>
    <h3><strong><%= match.home.name %> x <%= match.away.name %></strong></h3>

    <table>
      <thead>
        <tr>
          <th><%= match.home.name %></th>
          <th></th>
          <th><%= match.away.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= match.score.home %></td>
          <td>Gols</td>
          <td><%= match.score.away %></td>
        </tr>

        <tr>
          <td><%= match.home.shots.total %></td>
          <td>Finalizações</td>
          <td><%= match.away.shots.total %></td>
        </tr>

        <tr>
          <td><%= match.home.shots.on %></td>
          <td>Chutes ao gol</td>
          <td><%= match.away.shots.on %></td>
        </tr>

        <tr>
          <td><%= match.home.fouls %></td>
          <td>Faltas</td>
          <td><%= match.away.fouls %></td>
        </tr>

        <tr>
          <td><%= match.home.corners %></td>
          <td>Escanteios</td>
          <td><%= match.away.corners %></td>
        </tr>

        <tr>
          <td><%= match.home.yellowCards %></td>
          <td>Cartões amarelos</td>
          <td><%= match.away.yellowCards %></td>
        </tr>

        <tr>
          <td><%= match.home.redCards %></td>
          <td>Cartões vermelhos</td>
          <td><%= match.away.redCards %></td>
        </tr>

        <tr>
          <td><%= match.home.ballPossession %></td>
          <td>Posse de bola</td>
          <td><%= match.away.ballPossession %></td>
        </tr>
      </tbody>
    </table>
    <% }) %>
  </div>
</div>
